@model Strongly_typed_Helper_Methods.Models.Calculator
@{
    ViewBag.Title = "Index";
}

<h2>Addition</h2>

@using (Html.BeginForm())
{
    <p>@Html.LabelFor(model => model.num1) &nbsp; @Html.TextBoxFor(model => model.num1)</p>
    <p>@Html.LabelFor(model => model.num2) &nbsp; @Html.TextBoxFor(model => model.num2)</p>

    <input type="submit" value="Submit" />
    <br />

    <p>Addition is : @ViewBag.result </p>

}